body {
    font-family: "Roboto", sans-serif !important;
}
.btn{border-radius: 8px;}
.alert-success {
    color: #fff;
    background-color: #72ca4f;
    border-color: #72ca4f;
}
.alert-danger {
    color: #fff;
    background-color: #EB5757;
    border-color: #EB5757;
}
.alert-success .close, .alert-danger .close{
    color: #fff;
    opacity: 1;
}
.label-success {
    background-color: #72ca4f;
}
.label-warning {
    background-color: #F2C94C;
}

.label-danger {
    background-color: #EB5757;
}
.grey-bg{background-color: #363740 !important;}
.login-page-par .auth-box {
    box-shadow: none;
    background-color: transparent;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-item-align: center;
    align-self: center;
    overflow: hidden;
}
.auth-box .left {
    float: none;
    width: 42%;
    height: auto;
    padding: 30px 30px;
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0 auto;
    background: white;
    border: 1px solid #DFE0EB;
box-sizing: border-box;
border-radius: 8px;
}
.login-page-par .auth-box .control-label {
    position: static;
    width: 100%;
    height: auto;
    overflow: visible;
    text-align: left;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 0.3px;
    text-transform: uppercase;
    color: #9FA2B4;
    font-style: normal;
font-weight: bold;
margin-bottom: 6px;
}
.login-page-par .auth-box .form-control{
background: #FCFDFE;
border: 1px solid #F0F1F7;
box-sizing: border-box;
border-radius: 8px;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 20px;
letter-spacing: 0.3px;
color: #4B506D;
}
.auth-box .form-auth-small .btn {
    margin-top: 20px;
    border-radius: 8px;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 0.2px;
    color: #FFFFFF;
    box-shadow: 0px 4px 12px rgba(55, 81, 255, 0.24);
    border: none;
}
.login-page-par .btn-primary{
    background: #3875BA;
   
}
.login-page-par .auth-box .form-group {
    margin-bottom: 25px;
}
.login-page-par .auth-box .lead {
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;
    text-align: center;
    letter-spacing: 0.3px;
    color: #252733;
    margin-bottom: 12px;
}
.login-page-par .auth-box .tagline {
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 20px;
text-align: center;
letter-spacing: 0.3px;
color: #A4A6B3;
}
#wrapper .sidebar.ad-pannel-sdbar-sty {
    background-color: #363740;
    border: none !important;
}
.sidebar.ad-pannel-sdbar-sty .nav > li > a:hover, .sidebar.ad-pannel-sdbar-sty .nav > li > a:focus, .sidebar.ad-pannel-sdbar-sty .nav > li > a.active, .sidebar.ad-pannel-sdbar-sty .nav > li > a.drop-menu-links, .sidebar.ad-pannel-sdbar-sty .nav > li > a.drop-menu-links:hover, .sidebar.ad-pannel-sdbar-sty .nav > li > a.drop-menu-links.active {
    border-left: 6px solid #fff;
    background: #bdbdbd38;
    border-left-color: #fff !important;
}
.sidebar.ad-pannel-sdbar-sty .nav > li > a, .sidebar.ad-pannel-sdbar-sty .submenu > li > a {
    padding: 15px 0 15px 20px;
    font-size: 16px;
    border-bottom: none;
}
.sidebar.ad-pannel-sdbar-sty .submenu > li > a:hover, .sidebar.ad-pannel-sdbar-sty .submenu > li > a.active {
    color: #277fe5;
}
.admin-pannel-styling .brand.logo-sty {
    background: #363740;
    box-shadow: none;
    padding-left: 20px;
    padding-top: 15px;
}
.content-heading .page-title {
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;
    letter-spacing: 0.3px;
    color: #252733;
}
.content-heading {
    background-color: #F7F8FC;
    border: none;
    margin-top: 0;
    margin-bottom: 0;
}
.content-heading .breadcrumb {
    margin-left: auto;
}
#wrapper .main{
    background-color: #F7F8FC;
}
nav.navbar.navbar-default.navbar-fixed-top.admin-pannel-styling{
    box-shadow: none;
    background-color: #F7F8FC;
}
.main-content{
    background-color: #F7F8FC;
    padding-bottom: 50px;
}
.btn-primary {
    background: #3875BA;
    border: 0.5px solid #3875BA;
    box-sizing: border-box;
    border-radius: 8px;
}
div.dataTables_wrapper table thead tr:first-child {
    background-color: transparent;
    color: #9FA2B4;
}
.pagination > .active > a, .pagination > .active a:focus, .pagination > .active a:hover, .pagination > .active > span, .pagination > .active span:focus, .pagination > .active span:hover {
    background-color: #3875BA !important;
    border-color: #3875BA !important;
    outline: none;
}
.admin-pannel-styling .user-status-div .user-name-sty span {
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    text-align: right;
    letter-spacing: 0.2px;
    color: #252733;
    margin-right: 10px;
}
.breadcrumb i, .content-heading .breadcrumb a , .content-heading .breadcrumb li {
    color: #252733;
}
.admin-pannel-styling .navbar-btn-togl{
    background: #3875BA;
}
.panel .panel-body .heading {
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 1px;
    color: #252733;
    margin-bottom: 20px;
}
.panel .panel-body {
    padding-top: 20px;
}
.panel .panel-heading .panel-title{
    font-weight: 600;
    color: #252733;
}
.custom-bg-blue {
    background-color: #3875BA !important;
}
div.dataTables_wrapper div.dataTables_filter label {
    font-size: 12px;
    font-weight: bold;
}
table tr td .actions .btn {
    background: none;
    border: none;
    border-radius: 0;
    color: #b5b0b0;
    padding: 0px 2px;
}
table tr td .actions .btn:hover,table tr td .actions .btn:active ,table tr td .actions .btn:focus {
    background: none !important;
    border: none !important;
    border-radius: 0;
    color: #363740;
}
div.dataTables_scrollBody table tbody tr:first-child th, div.dataTables_scrollBody table tbody tr:first-child td{
    border-top: 1px solid #DFE0EB;
}
div.dataTables_wrapper div.dataTables_filter input, .form-control {
    background: #FCFDFE;
    border-radius: 8px;
}
.control-label {
    color: #9FA2B4;
    font-size: 12px;
    font-weight: bold;
}
.fancy-checkbox.custom-bgcolor-blue input[type="checkbox"]:checked + span:before {
    color: #fff;
    background-color: #3875BA;
    border-color: #3875BA;
}
.dataTables_wrapper .dataTables_scroll {
    margin-bottom: 20px;
}
.table > tbody > tr > th {
    font-weight: bold;
    font-size: 12px;
    color: #9FA2B4;
    text-transform: uppercase;
}
.table > tbody > tr > td {
    color: #333;
    border-color: #DFE0EB;
}
form a .btn.cancel {
    color: #9FA2B4;
    border: 1px solid #eae9e9;
    background: none;
}
.admin-pannel-styling .brand.logo-sty a{
    font-size: 19px;
    color: #E0E0E0;
}

.admin-pannel-styling .brand.logo-sty a span{
   margin-top: 10px;
}
.admin-pannel-styling .brand.logo-sty img {
    width: 55px;
    margin-right: 5px;
}
.admin-pannel-styling .brand.logo-sty img.logo-w-des {
    width: 140px;
}
form a .btn.cancel:hover {
    background: #eae9e9;
}
.logo-name {
    font-size: 19px;
    color: #A4A6B3;
    width: 190px;
    margin: 0 auto;
    margin-bottom: 20px;
    margin-top: 5px;
}
.logo-name img{
    max-width: 100%;
}
.form-group.forget {
    position: relative;
}
.form-group.forget .forget-link {
    position: absolute;
    right: 5px;
    font-size: 10px;
    color: #9FA2B4;
    top: 8px;
}
.form-group.forget .password-field-icon {
    position: absolute;
    top: 34px;
}
.form-group.forget .forget-link:hover{
    color: #3875BA;
}
/* .auth-box{
    height: 500px;
} */
.content-heading .page-subtitle {
    color: #9FA2B4;
}
.panel{
    border-radius: 8px;
}
.panel-heading {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}
.sidebar.ad-pannel-sdbar-sty .nav > li > a, .sidebar.ad-pannel-sdbar-sty .submenu > li > a{
    color: #BDBDBD;
}
.sidebar.ad-pannel-sdbar-sty .nav li > a i:first-child {
    font-size: 16px;
}
table tr td .actions .btn[title='Payments'] {
    font-size: 12px;
}
.sidebar.ad-pannel-sdbar-sty .nav li > a img{
    margin-right: 10px;
}
.sidebar.ad-pannel-sdbar-sty .nav li > a img.activ{
    display: none;
}

.sidebar.ad-pannel-sdbar-sty .nav li > a.active img.activ , 
.sidebar.ad-pannel-sdbar-sty .nav li > a:hover img.activ{
    display: block;
}

.sidebar.ad-pannel-sdbar-sty .nav li > a.active img.simple , 
.sidebar.ad-pannel-sdbar-sty .nav li > a:hover img.simple{
    display: none;
}
.sidebar .submenu {
    padding-left: 28px;
}
#wrapper #sidebar-nav, #wrapper .main {
    padding-top: 90px;
}
.navbar-menu .heading {
    display: inline-block;
    padding-left: 20px;
}
.navbar-menu .heading h1 {
    margin-top: 10px;
    margin-bottom: 5px;
    font-size: 24px;
    line-height: 28px;
    color: #252733;
    letter-spacing: 0.3px;
}
.navbar-menu .heading p {
    margin: 0;
}
.panel .panel-heading{
    margin-left: 1px;
}
.table > tbody > tr > td .label {
    border-radius: 8px;
}
table thead > tr > th {
    font-weight: bold !important;
    text-transform: uppercase;
}
.filter-form-des .form-group,
.filter-form-des .form-control,
.filter-form-des button{
    width:100%
}

.panel-heading.packages-panel{
    border: none;
    margin-bottom: 10px;
    border-radius: 0;
    padding:0;
}
.panel-heading.packages-panel h4{
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 10px;
    border: none;
    width: 100%;
}
.panel-heading.packages-panel .panel-content{
    position: relative;
    display: block;
    padding: 12px;
}
.panel-heading.packages-panel .panel-content:hover,
.panel-heading.packages-panel .panel-content:focus{
    color:#19598d !important;
}
.panel-heading.packages-panel:hover {
    padding-left: 10px;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}
.panel-body.packages-panel-body {
    padding: 0 15px;
}
.panel-heading.packages-panel .panel-content:before {
    content: '';
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    position: absolute;
    right: 30px;
    top: 50%;
    height: 2px;
    width: 10px;
    background: #19598d;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-transition-property: -moz-transform;
    -o-transition-property: -o-transform;
    -webkit-transition-property: -webkit-transform;
    transition-property: transform;
    -moz-transition-duration: 0.2s;
    -o-transition-duration: 0.2s;
    -webkit-transition-duration: 0.2s;
    transition-duration: 0.2s;
}
.panel-heading.packages-panel  .panel-content:after {
    content: '';
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    position: absolute;
    right: 24px;
    top: 50%;
    height: 2px;
    width: 10px;
    background: #19598d;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-transition-property: -moz-transform;
    -o-transition-property: -o-transform;
    -webkit-transition-property: -webkit-transform;
    transition-property: transform;
    -moz-transition-duration: 0.2s;
    -o-transition-duration: 0.2s;
    -webkit-transition-duration: 0.2s;
    transition-duration: 0.2s;
}



.panel-heading.packages-panel .panel-content.collapsed:before {
    content: '';
    position: absolute;
    right: 24px;
    top: 50%;
    height: 2px;
    width: 10px;
    background: #19598d;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-transition-property: -moz-transform;
    -o-transition-property: -o-transform;
    -webkit-transition-property: -webkit-transform;
    transition-property: transform;
    -moz-transition-duration: 0.2s;
    -o-transition-duration: 0.2s;
    -webkit-transition-duration: 0.2s;
    transition-duration: 0.2s;
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    right: 30px;
}
.panel-heading.packages-panel .panel-content.collapsed:after {
    content: '';
    position: absolute;
    right: 24px;
    top: 50%;
    height: 2px;
    width: 10px;
    background: #19598d;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-transition-property: -moz-transform;
    -o-transition-property: -o-transform;
    -webkit-transition-property: -webkit-transform;
    transition-property: transform;
    -moz-transition-duration: 0.2s;
    -o-transition-duration: 0.2s;
    -webkit-transition-duration: 0.2s;
    transition-duration: 0.2s;
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}
.panel-body.packages-panel-body .body-content-wrap{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: start;
    margin-bottom: 8px;
    border-bottom: 1px solid #eee;
    padding-bottom: 7px;
}
.panel-body.packages-panel-body .body-content-wrap h2{
    font-size: 14px;
    color: #000;
    margin: 0;
    width: 100%;
    max-width: 300px;
}
.panel-body.packages-panel-body .body-content-wrap p{
    font-size: 14px;
    color: #000;
    margin: 0;  
}
.settings-head{
    font-size: 20px;
    color: #9FA2B4;
    margin-bottom: 15px;
}
#packages-form .panel-group .panel {
    margin-bottom: 0;
    border-radius: 4px;
    border: none;
}
#packages-form  .panel-group .panel-heading+.panel-collapse>.list-group,#packages-form  .panel-group .panel-heading+.panel-collapse>.panel-body {
    border-top: none;
}




@media screen and (max-width: 991px) {
    #users-filter-form .form-group{
        margin-bottom: 8px;
    }
    #users-filter-form .btn-apply{
        margin-top: 8px;
    }
    .auth-box .left {
        width: 100%;
        max-width: 400px;
    }
}
@media screen and (max-width: 767px) {
    .filter-form-des .btn-apply{
        margin-top:10px;
    }
    .admin-pannel-styling .user-status-div .user-name-sty span {
        color: #ffffff;
        font-size: 14px;
    }
    .mbl-head-des{padding: 15px 15px;}
    .mbl-head-des p{
        margin: 0;
    }
    .mbl-head-des .page-title{
    font-size: 28px;
    font-weight: 600;
    color: #252733;
    }
    .navbar.navbar-default.navbar-fixed-top.admin-pannel-styling {
        background: #363740 !important;
    }
    
}
@media screen and (max-width: 480px) {
    .panel-body.packages-panel-body .body-content-wrap h2 {
        width: 100%;
        max-width: 100%;
    }
    .panel-body.packages-panel-body .body-content-wrap{
        -webkit-box-pack: justify;-ms-flex-pack: justify;justify-content: space-between;
    }
    .mbl-head-des .page-title {
        font-size: 24px;
    }
    .admin-pannel-styling .brand.logo-sty img {
        width: 45px;
    }
    .admin-pannel-styling .brand.logo-sty img.logo-w-des {
        width: 130px;
    }
    .admin-pannel-styling .brand.logo-sty a span {
        margin-top: 7px;
    }
    .admin-pannel-styling .user-img-sty {
        width: 20px;
        height: 20px;
    }
    .admin-pannel-styling .brand.logo-sty{
        padding-top: 30px;
    }
    .navbar.navbar-default.navbar-fixed-top.admin-pannel-styling .navbar-nav li {
        display: block !important;
    }
    .navbar.navbar-default.navbar-fixed-top.admin-pannel-styling .xs-visi-btn{
        float: right;
    }
    .navbar.navbar-default.navbar-fixed-top.admin-pannel-styling .dropdown {
        margin-bottom:12px;
    }
    .admin-pannel-styling .right-menu-bar .navbar-menu .navbar-nav{
        display: block;
    }
    .admin-pannel-styling .right-menu-bar{
        padding-right: 10pxs;
    }
    .navbar-default .brand{
        flex: 0 0 175px !important;
        max-width: 175px !important;
    }
}